<header class="header">
  <img [src]="src" [alt]="alt" />
  <nav id="menu">
    <ul>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.home) }"
      >
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.proyectos) }"
      >
        <a [routerLink]="['/proyectos']">Proyectos</a>
      </li>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.sobreMi) }"
      >
        <a [routerLink]="['/sobre-mi']">Sobre Mi</a>
      </li>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.experiencia) }"
      >
        <a [routerLink]="['/experiencia']">Mi experiencia</a>
      </li>
    </ul>
  </nav>
  <nav id="redes-sociales">
    <ul>
      <li>
        <a href="https://github.com/sISAabel"
          ><i class="fa-brands fa-square-github"></i
        ></a>
      </li>
      <li>
        <a href="https://codepen.io/sisabel"
          ><i class="fa-brands fa-codepen"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sisaabel/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://www.youtube.com/@sisabel24"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>
