<header class="header">
  <img [src]="src" [alt]="alt" id="foto"/>
  <nav id="menu">
    <ul>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.home) }"
      >
        <a [routerLink]="['/home']"> <i class="fa-solid fa-house"></i> Home</a>
      </li>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.proyectos) }"
      >
        <a [routerLink]="['/proyectos']"><i class="fa-brands fa-dev"></i> Proyectos</a>
      </li>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.sobreMi) }"
      >
        <a [routerLink]="['/sobre-mi']"><i class="fa-solid fa-book-open-reader"></i> Sobre Mi</a>
      </li>
      <li
        [routerLinkActive]="['seleccionado']"
        [routerLinkActiveOptions]="{ exact: estaActivo(AppRoute.experiencia) }"
      >
        <a [routerLink]="['/experiencia']"><i class="fa-solid fa-chess-rook"></i> Mi experiencia</a>
      </li>
    </ul>
  </nav>
  <nav id="redes-sociales">
    <ul>
      <li>
        <a href="https://github.com/sISAabel"
          ><i class="fa-brands fa-square-github"></i
        ></a>
      </li>
      <li>
        <a href="https://codepen.io/sisabel"
          ><i class="fa-brands fa-codepen"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sisaabel/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://www.youtube.com/@sisabel24"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>
