<header class="header">
  <img [src]="src" [alt]="alt" />
  <nav id="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Sobre Mi</a></li>
      <li><a href="/experiencia.html">Mi experiencia</a></li>
    </ul>
  </nav>
  <nav id="redes-sociales">
    <ul>
      <li>
        <a href="https://github.com/sISAabel"
          ><i class="fa-brands fa-square-github"></i
        ></a>
      </li>
      <li>
        <a href="https://codepen.io/sisabel"
          ><i class="fa-brands fa-codepen"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sisaabel/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://www.youtube.com/@sisabel24"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>
