<app-layout src="logo.png" alt="logo de empresa" [ruta]="AppRoute.sobreMi">
  <section>
    <article>
      <p>
        Desarrolladora Full Stack y tester de software con experiencia en el diseño, desarrollo y aseguramiento de calidad de aplicaciones web. Manejo habilidades sólidas en frontend y conocimientos básicos en backend, complementados con experiencia en bases de datos SQL. Proactiva, analítica y comprometida con la mejora continua, busco contribuir a proyectos innovadores y desafiantes.
      </p>
    </article>

    <div id="tecnologias">
      <h1>Tecnologías con las que he trabajado</h1>
      <div class="marquesina-tecnologias">
      </div>      
    </div>
  </section>
</app-layout>
