<app-layout src="logo.png" alt="logo de empresa" [ruta]="AppRoute.experiencia">
  <section>
    <article>
      <h1>Quality Assurance (QA)</h1>
      <h3>TECH Education Rights & Technologies, S. | Agosto 2023 -Actualidad</h3>
      <ul>
        <li>Desarrollo de pruebas automatizadas con Python</li>
        <li>Manejo de bases de datos con SQL para validación de datos en pruebas.</li>
        <li>Ejecución y documentación de casos de prueba con AzureDevOps.</li>
        <li>Identificación y reporte de errores en Jira, garantizandodescripciones claras y reproducibles.</li>
        <li>Pruebas de regresión y exploratorias para asegurar la estabilidad del software.</li>
      </ul>
    </article>
    <article>
      <h1>Frontend Web Developer</h1>
      <h3>Dapper Drake - EOI | Enero 2023 - Abril 2023</h3>
      <ul>
        <li>Desarrollo de interfaces responsivas con HTML5, CSS3 y Bootstrap.</li>
        <li>Implementación de interactividad con JavaScript y Vue.js.</li>
        <li>Optimización de rendimiento y experiencia de usuario en sitios web</li>
      </ul>
    </article>
    <article>
      <h1>Frontend Web Developer</h1>
      <h3>AppLoad Solutions SA | Marzo 2022 - Diciembre 2022</h3>
      <ul>
        <li>Desarrollo de Tu Calendi, herramienta de gestión de agendas con React.js y PHP.</li>
        <li>Integración de bases de datos con SQL y diseño de APIs REST.</li>
        <li>Mejora de tiempos de carga en un 25% mediante optimización deconsultas.</li>
      </ul>
    </article>
  </section>
</app-layout>
