<app-layout src="Foto.png" alt="foto retrato" [imageWidth]=25 [ruta]="AppRoute.home">
  <section>
    <article>
      <p>
        <span class="numeracion">01</span>
        &lt;h1&gt;Hola, soy <span class="mi-nombre">Sara!</span>&lt;/h1&gt;
      </p>
      <p>
        <span class="numeracion">02</span>
        &lt;h2&gt;Soy Junior Fullstack&lt;/h2&gt;
      </p>
      <p>
        <span class="numeracion">03</span>
        &lt;h3&gt;Y este es mi trabajo&lt;/h3&gt;
      </p>
    </article>
    <div>
      <img src="logo.png" alt="logo">
    </div>
  </section>
</app-layout>
