section {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

article {
  font-size: 3rem;
  line-height: 6rem;
  align-self: center;
  margin-left: 5rem;
}

span.numeracion {
  font-size: 1.5rem;
}

span.mi-nombre {
  font-size: 5rem;
  font-family: var(--fuente-secundaria);
  color: var(--color-titulos);
  text-shadow: 0px 2px 4px rgba(0,0,0,1);
}

div {
  align-self: flex-end;
  margin-left: 5rem;
}

img {
  filter: drop-shadow(2px 2px 6px #000000);
}