@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Revalia&display=swap');

:root {
  --fuente-principal: "JetBrains Mono",  monospace;
  --fuente-secundaria: "Revalia", sans-serif;
  --background-header: #2C2C82;
  --background-image: url("/assets/background/polka-dots.svg");
  --background-marquesina: #F7F7F7;
  --color-texto: #544A4A;
  --color-titulos: #9C2AEB;
  --color-enfasis: #BF2E99;
  --color-secundario: #DAD3F6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--fuente-principal);
  color: var(--color-texto);
}